<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{readme.url}}" class="lead">{{readme.name}}</a>
    <p>{{readme.description}}</p>
    <!-- Edit Link -->
    <p><a href="/reviews/{{readme._id}}/edit">Edit</a></p>
    <!-- Delete button -->
    <p><form method="POST" action="/readmes/{{readme._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form></p>
  </div>
</div>
